
<div class="clr-row clr-justify-content-end">
    <div class="clr-col-1">
        <button type="button" class="btn btn-icon" aria-label="home" (click)="deleteGroupModalOpen = true">
            <cds-icon shape="plus-circle"></cds-icon>
            Add
        </button>
    </div>
</div>

<div class="clr-row">
        <div *ngFor="let group of kcmGroups" class="clr-col-lg-3 clr-col-12">
            <div class="card">
                <div class="card-header">
                    <div class="clr-row">
                        <div class="clr-col clr-align-self-start">
                            <a [ngClass]="getLabelStyle(group.color)">Group: {{ group.name }}</a>
                        </div>
                        <div class="clr-col clr-align-self-end">
                            <button type="button" class="btn btn-icon btn-sm" aria-label="edit">
                                <cds-icon shape="pencil"></cds-icon>
                              </button>
                              <button type="button" class="btn btn-icon btn-sm btn-danger" aria-label="delete" >
                                <cds-icon shape="trash"></cds-icon>
                              </button>

                              
                        </div>
                        </div>
                </div>
                <div class="card-block">
                    <button type="button" class="btn btn-icon btn-success" aria-label="settings">
                        <cds-icon shape="deploy"></cds-icon>
                        Enter
                      </button>
                </div>
            </div>
        </div>
        
        <clr-modal [(clrModalOpen)]="deleteGroupModalOpen">
            <h3 class="modal-title">I have a nice title</h3>
            <div class="modal-body">
              <p>But not much to say...</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline" (click)="deleteGroupModalOpen = false">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="deleteGroupModalOpen = false">Ok</button>
            </div>
          </clr-modal>
          
</div>

