<header class="header-1">
    <div class="branding">
      <a class="nav-link">
        <cds-icon shape="shield"></cds-icon>
        <span class="title">KCM</span>
      </a>
    </div>
    <div class="header-nav">
      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-rightactive nav-link nav-icon" [routerLink]="['/groups']" routerLinkActive="active">
        <cds-icon shape="host-group"></cds-icon>
        Group
      </a>
      <a class=" nav-link nav-icon">
        <cds-icon shape="cog"></cds-icon>
        Settings
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-icon" clrDropdownToggle>
          <cds-icon shape="user"></cds-icon>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <div class="dropdown-menu">
          <a clrDropdownItem>About</a>
          <a clrDropdownItem>Preferences</a>
          <a clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </header>